* {
  font-family: teslaFont;
}
.firstSection * {
  color: #f5f6f6;
  font-size: 14;
  font-weight: 570;
}
body {
  margin: 0;
}
.firstSection {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/5a7b3001-249f-4065-a330-4ea6a17ccf7b/bvlatuR/std/2560x1708/Model-3-Main-Hero-Desktop-LHD");
  width: 100%;
  height: 100%;
}

button.Simple {
  background-color: transparent;
  border: 3px white solid;
  border-radius: 5px;
  padding: 60px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition-duration: 0.5s;
}
button.Simple:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  margin: 11px;
  list-style-type: none;
}
.header {
  padding: 15px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: teslaFont;
  src: url(GothamSSm-Medium_Web.woff2);
}
.mainText {
  width: 100%;
  text-align: center;
  margin-bottom: 51vh;
}
.mainText h1 {
  font-size: 40px;
  margin: 0px;
}
.mainText h3 {
  color: #dcdddf;
  text-decoration: underline;
  margin: 7px;
}
.FooterFirst {
  display: flex;
  justify-content: center;
}
.FooterFirst li {
  margin: 40px;
  margin-bottom: 70;
}

.iconText :nth-child(-n + 2) {
  display: inline-block;
  font-size: 25px;
  margin: 0;
}
.FooterFirst li p {
  font-size: 13;
  text-align: center;
  margin: 5;
}
.FooterFirst li h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 550;
  margin: 0px;
}
.Floating {
  border-radius: 360px;
  padding: 15px;
  position: fixed;
  right: 40px;
  bottom: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  border: none;
  z-index: 100;
}
